body
{
	background-color: white;
	text-align: center;
	margin: 0 auto;
	font-family: arial;
}

h1
{
	margin: 0px;
	padding: 25px;
	font-size: 80px;
	color: #b30000;
	text-shadow: 2px 0 0 #ffff1a, -2px 0 0 #ffff1a, 0 2px 0 #ffff1a, 0 -2px 0 #ffff1a, 1px 1px #ffff1a, -1px -1px 0 #ffff1a, 1px -1px 0 #ffff1a, -1px 1px 0 #ffff1a;
}

h2
{
	font-size: 35px;
	color: grey;
}

#game
{
	display: inline-block;
	text-align: center;
	background-color: lightblue;
	border-radius: 3%;
	padding: 10px;
	margin: 30px;
}

#restart
{
	background-color: #6699cc; 
	border: none;
	color: #b30000;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 3px;
	border: solid 1px #666699;
	text-shadow: 1px 0 0 #ffff1a, -1px 0 0 #ffff1a, 0 1px 0 #ffff1a, 0 -1px 0 #ffff1a, 1px 1px #ffff1a, -1px -1px 0 #ffff1a, 1px -1px 0 #ffff1a, -1px 1px 0 #ffff1a;
	font-size: 30px;
	cursor: pointer;
}

#restart:hover
{
	background-color: lightblue;
	color: white;
}

#title
{
	width: 100%;
	background-color: #6699cc;
	height: 150px;
	text-align: center;
}

#show_player
{
	font-size: 20px;
	font-family: arial;
	color: grey;
}
#scoreP1
{
	text-align: center;
}

#score
{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding-left: 350px;
}

.col
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 1px grey;
	background-color: white;
	margin: 5px;
	display: inline-block;
}

.col.empty
{
	cursor: pointer;
}

.col.player1
{
	background-color: #b30000;
}

.col.player2
{
	background-color: #e6e600;
}


